*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 28PX;
}
body h2 {
    font-family: montserrat, sans-serif;
}
body p{
    font-family: raleway, sans-serif;
}

.header{
    position: relative;
    height: 944px;
    z-index: 1;
}
span{
    color: #381DDB;
}
.header__header{
    background: url(img/head-back.jpg) 100% 100%;
    height: 708PX;
    margin: 0 auto;
}
.contenair, .main-header-contenair{
    padding: 0 30px;
    margin: 0 auto;
    max-width: 768px;
}
img, a{
    cursor: pointer;
}
.header__top-desk{
   display: none;
    opacity: 0;
}
.header__top-mobil{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  padding: 24px 0px;
}
.header_button{
    text-transform: uppercase;
    border:  solid 1px white;
    background-color: inherit;
    padding: 8px 15px;
    font-family: montserrat, sans-serif; 
    font-size: .9rem; 
    font-weight: 600;
    color: white;
}
.main-header{
    padding: 20px 30px;
}
.top-market{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 14px;
    color: white;
}
.top-market p{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 700;
}
.p_main_head{
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
    color: #FFA3A3;
    text-align: center; 
}
.p_main_head h2{
    margin: 18px 0 0 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
}
.p2_main_head{
    text-align: center;
    line-height: 1 rem;
    color: white;
}
.read_more{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 14px;
    color: #FFA3A3;
    font-weight: 700;
    cursor: pointer;
}
.read_more p{
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.header-login{
    box-shadow: 0 4px 20px rgb(0 0 0 /24%);
    position: absolute;
    bottom: 0;
    left: 8%;
    right: 8%;
    height: 439px;
    background-color: white;
    z-index: 3;
    padding: 0 30px;
}
.header-login img{
    padding-bottom: 20px;
    width: 86px;
}
.header-login h2{
    margin: 27px 0 12px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
}
.header-login input, input{
    height: 44px;
    width: 100%;
    margin: 8px 0;
    border: solid 1px #E6E6E6;
    padding: 14px;
    border-radius: 5px;
}
::placeholder{
    color:  #d1d0d0;
    font-weight: 400;
    font-size: 14px;
    font-family: raleway, sans-serif;
}
.form_foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

}
.form_foot_left button{
    width: 120px;
    height: 48px;
    background-color: #381DDB;
    font-size: 16px;
    color: white;
    font-weight: 700;
    border: solid 1px #381DDB;
    box-shadow: 0px 10px 30px rgba(56, 29, 219, 0.2);
    font-family: montserrat, sans-serif; 
}
.form_foot_left p{
    font-size: 12px;
    margin-top: 20px;
}
.main p{
    color: #222222B2;
}
.main h2{
    font-family: montserrat, sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 36.4px;
    margin: 20px 0 0 0;
}
.main h1{
    font-family: montserrat, sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-align: left;
    line-height: 30px;
    margin: 20px 0 0 0;  
}
.main p{
    
    font-family: raleway, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    margin: 20px 0;
}
.first-article img{
 
    display: block;
    margin: 91px auto 0;
}
.slide1 img{
    margin: 0 auto;
    display: block;  
}
.img_first-article img{
    margin: 15px auto 7px auto; 
    max-width: 315px;
    height: 240px;
}
.line{
   margin-bottom: 55px;
   text-align: center;
}
.line img{
    max-width: 315px;
}
.crm{
    padding: 20px;
}
.crm p, .mobile P, .creativity p, .define p{
    text-align: left;
}
.crm img{
    margin: 16px 0 -6px 0;
}
.web_service{
    background-color:#FFA3A3;
    padding: 20px;
    box-shadow: 0px 10px 40px rgba(34, 34, 34, 0.15);
}
.web_service p, .web_service h1{
    text-align: left;
    color: white;
    margin-top: 10px;
}
.web_vect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile{
    padding: 20px;
    margin-top: 10px;
}
.creativity h2, .define h2{
    text-align: left;
}
.check{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.check p{
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: #381DDB;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
}
.images{
    position: relative;
    margin-top: 30px;
    text-align: center;
}
.image1 img, .image2 img {
    width: 273.5px;
    height: 284.51px;
}
.image1{
    position: absolute;
    top: 41px;
    left: 41px;
}
.main_foot{
    background-color:#222222;
    margin:102px 0 40px 0;
    padding: 14px 27px 20px;
}
.main_foot input{
    margin: 20px 0 8px 0;
    background-color: #FFFFFF1A;
    border: solid 1px #222222;
}
.main_foot p, .main_foot ::placeholder{
    margin-bottom: 0;
    color: rgba(255, 255, 255, .3);
}
.main_foot h2{
    color:white;
}
.subscribe button{
    height: 48px;
    width: 139px;
    color:white;
    background-color: #813535;
    border: solid 0px #813535;
    font-weight: 700 ;
    font-size:1rem;
    font-family: montserrat, sans-serif;
    margin: 0 auto;
    display: block;
}
.subscribe button:hover{
    height: 48px;
    width: 139px;
    color:white;
    background-color: #FC5252;
    border: solid 0px #FC5252;
    font-weight: 700 ;
    font-size:1rem;
    font-family: montserrat, sans-serif;
    margin: 0 auto;
    display: block;
    transition: 0.5s;
}
.figma_dribbble{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.figma, .scketch{
    display: none;
}
.dribbble{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.03);
}
.footer{
    padding: 40px 30px;
    background-color: rgba(34, 34, 34, 0.03);;
}
.img_footer, .top-desk__img{
    width: 70px;
    height: 26px;
    margin: 0 auto;
    display: block;
}
.footer nav{
    text-align: center;
    margin: 10px 0 20px;
}
.footer a, .header__top-desk a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    margin: 0 5px;
}
.sign{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;   
}

.sign__in, .sign__up{
    font-family: montserrat, sans-serif;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    color: #381DDB;
    padding: 8px 16px;
    border: solid 1px transparent;   
}
.sign__in:hover, .sign__up:hover, .sign__up--active{
    border: solid 1px #381DDB;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    color: #381DDB;
    padding: 8px 16px;
    transition: .5s;
}
.sociaux{
    margin: 20px 31.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sociaux img{
    padding: 5px 6.5px;
    opacity: 0.5;
}
.sociaux img:hover{
    opacity: 1;
    transition: 0.5s;
}
.footer p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
}
button{
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    
    .header{
        height: 1134px;
    }
    .header__top-mobil{
        display: none;
        opacity: 0;
    }
    .header__top-desk{
        display: flex;
        justify-content: space-between;
        opacity: 1;
        align-items: center;
        padding: 24px 20px 60px;
    }
    .header__top-desk a:hover, .top-desk__nav .top-desk__nav--active, .footer a:hover{
        color: #FFA3A3;
        transition: 0.5s;
    }
    .header__top-desk a, .header__top-desk .sign__in, .header__top-desk .sign__up{
        color: white;
    }
    .header__top-desk .sign__up:hover, .header__top-desk .sign__in:hover, .header__top-desk .sign__up--active{
        border-color: white;
        color: white;
        transition: .5s;
    }
    .main-header-contenair{
        padding: 0 30px;
        margin: 0 auto;
        max-width: 505px;
    }
    .first-article-contenair{
        max-width: 570px;
        margin: 0 auto;
    }
    .contenair3{
        max-width: 690px;
        margin: 0 auto;
    }
    .header-login{
        margin: 0 auto;
        box-shadow: 0 4px 20px rgb(0 0 0 / 24%);
        position: absolute;
        bottom: 0;
        max-width: 470px;
        height: 566px;
        background-color: white;
        z-index: 3;
        padding: 33px 10px 60px 60px;
        background: url(img/left_bar.jpg) no-repeat right white;
    }
    .header-login__form{
        max-width:260px ;
    }
    .header-login img{
        padding-bottom: 0px;
        width: 160px;
    }
    .header-login input{
        height: 48px;
        margin-top: 12px;
    }
    .form_foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -8px;
    }
    .img_first-article img{
        margin: 0 auto 100px auto; 
        max-width: 570px;
        height: 435px;
    }
    .line img{
        max-width: 570px;
    }
    .crm_web_vect{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .crm, .crm img, .web_service, .mobile{
        margin-top: 0;
    }
    .crm_web_vect p{
        line-height: 24px;
    }
    .web_vect{
        margin-top: 37px;
    }
    .image1 img, .image2 img {
        width: initial;
        height: initial;
    }
    .image1 img{
        position: absolute;
        top: 20px;
        left: 110px;
    }
    .main_foot{
        padding: 60px;
        margin: 120px auto 60px auto;
    }
    .images h2 {
        margin-top: 0;
        padding: 0 25px;
    }
    .main_foot p{
        padding: 0 55px;
    }
    .main_foot_subscribe{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 70px;
        margin: 30px auto;
    }
    .main_foot_subscribe input{
        margin: 1px 18px 1px 0;
        height: 48px;
    }
    .figma_dribbble{
        margin: 30px 0;
    }
    .footer{
        margin-top: 100px;
    }
    .footer_top_1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_foot{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .img_footer, .top-desk__img{
        width: 70px;
        height: 26px;
        margin: 0 0 10px 0;
    }
    .footer_foot p{
        text-align: left;
    }
    .footer_foot .sociaux{
        margin: 0;
    }
    .sociaux img{
        padding:5px 11px;
        margin-left:25px ;
    }
    .top-desk__nav{
        text-align: center;
        margin: 10px 0 10px;
    }
    .footer_foot nav{
    margin-right: 56px;
    margin-left: 74px;
    text-align: center;
    }
    .figma{
        display: inherit;
    }
}

@media only screen and (min-width: 1120px) {
    .header__header{
        overflow: hidden;
        height: 980px;
        background: url(img/header_img_desk.jpg) no-repeat center center;
    }
    .header-login{
        width: 470px;
        margin: 0;
        position: static;
    }
    .main h2{
        font-size: 34px;
    }
    .main p{
        font-size: 16px;
    }
    .contenair{
        max-width: 1170px;
        padding: 0;
    }
    .main-header-contenair{
        margin: 0;
        padding: 0;
        max-width: 570px;
        padding: 23px 180px 22px 0;
    }
     .main-header-contenair div{
         text-align: left;
     }
     .main-header-contenair h2{
         margin: 20px 0 22px;
         line-height: 66px;
     }
     .top-market {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 20px;
        font-size: 14px;
        color: white;
     }
     .read_more {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 20px;
        font-size: 14px;
        color: #FFA3A3;
        font-weight: 700;
        cursor: pointer;
        margin: 130px 0 0;
     }
    .header__top-desk {
        display: flex;
        justify-content: space-between;
        opacity: 1;
        align-items: center;
        padding: 24px 0px 60px;
        align-content: center;
    }
    .top-desk__nav{
        margin: 10px 455px 10px 86px;
    }
    .header__top-desk .sign__in, .header__top-desk .sign__up{
        color: #381DDB;
    }
    .header__top-desk .sign__up:hover, .header__top-desk .sign__in:hover, .header__top-desk .sign__up--active
    , .sign__in:hover, .sign__up--active{
        border-color: #381DDB;
        color:#381DDB;
        transition: .5s;
    }
    .main_header_desk{
            display: flex;
            justify-content: space-between;
            align-items: unset;
            max-width: 1170px;
            margin: 0 auto;
    }
    .first-article{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: end;
        height: 436px;
        
    }
    .first-article_top{
        padding-left: 130px;
    }
    .first-article img{
        margin: 0;
        display: inline;
    } 
    .first-article h2{
        text-align: end;
        line-height: 44px;
        margin-top: 30px;
    }
    .first-article p{
        text-align: end;
        line-height: 24px;
        margin: 40px 0;
    }
    .img_first-article img{
        width: 470px;
        height: 360px;
        margin-top: 75px;
    }
    .line{
        margin: 136px auto;
    }
   .line img{
       width: 1160px;
       max-width: none;
   }
   .second-article h2{
       max-width: none;
   }
   .second-article .p{
       padding: 0 120px;
       margin-bottom: 60px;
   }
   .web_service{
       width: 300px;
       height: 331px;
       margin: 0 70px;
   }
   .web_vect{
       margin-top: 60px;
   }
   .second-article_1{
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: row-reverse;
       height: 550px;
       overflow: hidden;
   }
   .second-article_1 h2{
       font-size: 34px;
   }
   .second-article_1 P{
       font-size: 16px;
       margin: 40px 0 75px 0;
   }
   .check p{
       margin: 0 10px 0 0;
   }
   .image1 img {
    position: absolute;
    top: 0px;
    left: 0px; 
   }
   .second-article_1_1{
       max-width: 570px;
       height: 514px;
   }
   .main_foot{
       margin: 140px auto;
       font-size: 34px;
   }
   .main_foot p {
    padding: 0 300px;
   }
   .main_foot_subscribe {
    padding: 0 340px;
   }
   .footer nav{
      margin-right: 65px;
   }
   .footer_top_1{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .footer_foot p{
    text-align: left;
    max-width: 400px;
   }
   .scketch{
       display: initial;
   }
}


